h1,h2{
color: darkmagenta;
text-align: center;
}

header{

    background-color: honeydew;   
    padding: 20px;    
}

header .fixed{
position: fixed;

}



header li{
    list-style: none;
    text-decoration: none;

}

.Project{
background-color: khaki;
padding: 20px;

}



.Work-experience{
    background-color: skyblue;
    padding: 20px;
}

.Education{
    background-color: tomato;
    padding: 20px;
}

footer{
    background-color: turquoise;
    padding: 20px;
    

}

footer ul {
    list-style: none;
    text-align: center;
     
    
}
footer ul li {
    display: inline-block;
    text-decoration: none;
    padding-inline-end: 5%; 
}
footer ul li a{
    color: cadetblue;
    text-decoration: none;  
   
}