h1,h2{
color: darkmagenta;
}
header{

    background-color: honeydew;
    text-align: center;
    padding: 20px;
}

.Project{
background-color: khaki;
padding: 20px;

}



.Work-experience{
    background-color: skyblue;
    padding: 20px;
}

.Education{
    background-color: tomato;
    padding: 20px;
}

footer{
    background-color: turquoise;
    padding: 20px;
    

}
footer li{
    list-style: none;
}